/*  QUOTE SUMMARY/SORT   */

#dash-container{
  display:grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
  padding: 10px 0px;
}

/* TEMP HIDE FILTER*/
#dash-container{
  height:108px;
}
#dash-quote-table-descrs{
  display: none;
}

/* Quote Table Filters */
#quote-table-filters{
  display:grid;
  grid-template-columns: 100px 1fr 100px 1fr;
  column-gap: 10px;
  row-gap: 5px;
}
#quote-table-filters>div{
  text-align: right;
}
#quote-table-filters>input:nth-child(-n+4){
  width: 100px;
}
#quote-filter-address{
  grid-column: 2 / 5;
}
#dash-quote-period-search{
  grid-column: 2 / 5;
  display: flex;
  justify-content: space-between;
}
#dash-quote-table-buttons{
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
#dash-quote-table-buttons>div{
  margin-left: 1px;
}


/* Quote Tables */
#quote-tables-container{
  height: calc(100vh - 25px - 108px);
}


/* Preview Box */
.preview-header{
  background-color: var(--BEE-blue);
  color: var(--text-light);
  width:100%;
  text-align: center;
}
.preview-area-client{
  display: grid;
  grid-template-columns: 100px 1fr;
  row-gap: 5px;
  padding: 5px;
}
.preview-area-system{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  padding: 0px 5px;
}
.preview-area-option>div:first-child{
  font-weight: bold;
}
.noprice-note{
  font-style: italic;
  text-align: center;
  padding: 10px;
}
.preview-area-buttons{
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.preview-area-dates{
  font-size: .75em;
}


/* New Quote PopUp */
.newquote-header{
  background-color: var(--BEE-blue);
  color: var(--text-light);
  width:100%;
  text-align: center;
}
[class*='newquote-area-']{
  display: grid;
  grid-template-columns: 100px 1fr;
  row-gap: 5px;
  padding: 5px;
}
.newquote-buttons{
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}


@page{size:8.5in 11in;}