/*Basic select styling*/
select {
    border: 0; 
    padding: 7px 15px; 
    border: 1px solid #ccc; 
    position: relative; 
    background-color: var(--card-base-light);
    color: rgb(50,50,50);
    font-size: small;
    font-weight: 550;
}

select:hover {
    background-color: #ccc;
    color: rgb(25,25,25);
}

/*Specific container styling*/
.fl-cont {
    width: 90vw;
    min-height: fit-content;
    background-color: var(--card-base-light);
    border: 3px solid var(--vogel-blue);
    filter: var(--drop-shadow);
    overflow: hidden;
}

/*Top table container*/
#table-cont {
    display: grid;
    background-color: rgb(240,240,240);
    border-bottom: 3px solid var(--vogel-blue);
    row-gap: 10px;
    padding: 10px;
    height: 32vh;
    align-content: start;
    overflow: auto;
}

/*Bottom Input Container*/
#input-cont {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    min-height: fit-content;
    padding: 20px;
    align-content: center;
    background-color: rgb(255,255,255);
    overflow: hidden;
}

/*Styling for each table row*/
.form-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--vogel-blue);
    align-items: center;
}
.form-row:hover {
    background-color: rgb(220,220,220);
}

/*Select styling for bottom select dropdowns.*/
.bottom-select {
    width: 160px;
    margin-left: 10px;
    margin-right: 10px;
}

.action-button {
    width: 150px;
    background-color: var(--BEE-mblue);
    text-align: center;
    color:var(--text-light);
    font-weight: 600;
    line-height: 40px;
}

.action-button:hover {
    cursor: pointer;
    background-color: var(--BEE-blue);
}

#delete-row {
    width: 50px;
    background-color: var(--vogel-red);
}

#delete-row:hover {
    background-color: var(--excluded-border);
}

#refresh-row {
    width: 50px;
    background-color: var(--BCE-green);
    align-content: center;
}

#refresh-row:hover {
    background-color: var(--included-border);
}

/*Row item customizations*/
.swapto {
    width: 200px;
}

.row-options {
    display: none;
}

.img-icon {
    width: 25px;
    filter:invert();
}

#swapform-close {
    height: 25px;
    position: relative;
    left:0px;
    top:5px;
    line-height: 20px;
    font-size: small;
}

#swapform-close:hover{
    filter:invert();
    cursor: pointer;
}